<!DOCTYPE html>
<html>

<head>
    <title>Praise the Lord</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body>
    {{> header}}
    <p>Your labour in the Lord is not in vain.</p>
    {{> footer}}
</body>

</html>